/*button {
  border: 1px solid #ccc;
  background: -webkit-linear-gradient(left,green 0%,red 58%,#b5b72a 69%,lime 69%,magenta 86%,blue 100%);
  color: white;
  -webkit-box-shadow: 7px 8px 10px 5px rgba(160, 107, 197, 0.75);
  margin: 20px;
}*/